.watchlist-button {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    margin-top: 10vh;
    padding: 9px 22px;
    font-size: 22px;
    height: 50px;
    font-weight: 300;
    color: white;
    text-align: center;
    line-height: normal;
    background-color: blue;
    border-radius: 22px;
    transition: transform 0.3s ease;
}

.watchlist-button:hover {
  transform: scale(1.1); /* Scale up on hover */
}