.page-title {
    position: relative;
    margin-top: 5%;
}

.product,
.product-zero {
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 10px;
    background-color: white;
    position: relative;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -ms-transition:  -ms-transform 0.1s;
    transition:  transform 0.1s;  
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    
    
    &:hover {
      -webkit-transform: scale(1.25);
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      transform: scale(1.25);
      -webkit-transition: -webkit-transform 0.25s;
      -moz-transition: -moz-transform 0.25s;
      -ms-transition:  -ms-transform 0.25s;
      transition:  transform 0.25s;
    }   
}

.wrapper {
    display: grid;
    grid-template-columns: 450px 450px 450px; 
    grid-gap: 50px;
    justify-content: center;
  }

.product-image {
  width: 50%;
}

.prod-price {
  position: relative;
  padding-top: 10%;
  font-weight: 490;
  text-align: center;
}

.product-zero {
  opacity: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

