.box {
    width: 60vh;
    height: 15vh;
    margin: 10px auto; 
    border-radius: 20px;
    margin-bottom: 60%;
    margin-top: 30%;
}

.top-box,
.middle-box {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    height: 100%;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px; 
}

.top-box h1,
.middle-box h1 {
    margin-bottom: 10px; 
    color: black;
}

.top-box p,
.middle-box h1 {
    text-align: left; 
}

.middle-box {
    padding-top: 10%;
}

.middle-box img {
    width: 80%;
    margin: auto;
}

.explore {
    position: relative; 
    cursor: pointer; 
    text-decoration: none;
    color: #0000EE;
}

.explore:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1.3px;
    left: 0;
    position: absolute;
    background: #0000EE;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    opacity: 50%;
  }
  .explore:hover:after { 
    width: 100%; 
    left: 0; 
  }
