:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
  line-height: 1.5;
  font-weight: 400;

  
  color: #213547; 
  background-color: black; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  position: relative;
  min-width: 120vh;
  min-height: 100vh;
  /* Adjust the gradient for light theme */
  background: linear-gradient(90deg, rgba(200,200,200,1) 0%, rgba(230,230,230,1) 50%, rgba(200,200,200,1) 100%);
}
