.prod-comp-wrapper {
    display: grid;
    grid-template-columns: 10px;
    grid-gap: 50px;
    justify-content: center;
  }

.wrapper,
.wrapper-one,
.wrapper-two {
    margin-top: 15%;
}

.sprintfit-logo {
    width: 40%;
    margin-top: -3%;
    margin-bottom: -5%;
}

@media (max-width:1430px) {
    .suppsnz-logo {
      width: 60%;
    }
  }

.wrapper-one,
.wrapper-two {
    display: grid;
    grid-gap: 50px;
    justify-content: center;
  }

.wrapper-one {
    grid-template-columns: 450px;
    padding-top: 25%;
}

.wrapper-two {
    grid-template-columns: 450px 450px;
    padding-top: 5%;
}